table {
    width: 100%;
  }
  
  button{
    margin: 2px;
  }
  
  th{
    background-color: #46546c !important;
    color: white;
  }
  
  .add-button {
    background-color: rgb(2, 188, 2) !important;
    color: white !important;
  }
  
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  